<%= render 'shared/errors' %>

<h1>Hello <%= @user.email %></h1>

<p>This is your show page</p>

<button>
  <a href="<%= user_url(@user) %>">Edit</a>
</button>

<% content_for :footer do %>
  User show page
<% end %>
