<h1>List of All Bands</h1>

<%= render 'shared/errors' %>

<table>
  <tr>
    <th>Band</th>
    <th>Page</th>
  </tr>
  <% @bands.each do |band| %>
    <tr>
      <td><%= band.name %></td>
      <td><a href="<%= band_url(band) %>">Link</a></td>
    </tr>
  <% end %>
</table>

<button>
  <a href="<%= new_band_url %>">Create band</a>
</button>

<% content_for :footer do %>
  Band index page
<% end %>
